@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

#app-root {
  width: 100%;
  max-width: 1840px;
  margin: 0 auto;
  position: relative;
  overflow-x: clip;
}

.font-libre {
  font-family: var(--font-libre);
}

.font-cormorant {
  font-family: var(--font-cormorant);
}

#botao-contato {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

header {
  background: linear-gradient(
    135deg,
    rgba(30, 58, 138, 0.4) 0%,
    rgba(59, 130, 246, 0.25) 100%
  );
  border-bottom: solid 1px rgba(96, 165, 250, 0.3);
}

nav {
  border-left: 2px solid #d0af6c5e;
  border-right: 2px solid #d0af6c5e;
}

#quadrado {
  border-bottom-left-radius: 70px;
  border-top-right-radius: 70px;
}

@media (max-width: 1366px) {
  #text-container {
    scale: 0.8;
    margin-left: -80px;
    margin-top: -80px;
  }

  #herostatue {
    scale: 0.84;
    margin-top: -20px;
  }

  #HOME {
    height: 700px;
    overflow-y: hidden;
  }

  #sobre {
    margin-right: 60px;
  }
}

@media (max-width: 1600px) {
  #text-container {
    scale: 0.8;
    margin-left: -80px;
    margin-top: -80px;
  }

  #herostatue {
    scale: 0.84;
    margin-top: -20px;
  }

  #HOME {
    height: 800px;
    overflow-y: hidden;
  }

  #LADO-ESQUERDO-SOBRE {
    scale: 0.9;
    margin-left: -100;
    margin-top: 32px;
  }

  #LADO-DIREITO-SOBRE {
    scale: 0.8;
    margin-top: -10px;
    margin-left: 45px;
  }
  #sobre {
    margin-left: 40px;
  }

  #mulher {
    margin-top: 144px;
  }
}

@media (max-width: 1200px) {
  #LADO-ESQUERDO-SOBRE {
    scale: 0.8;
    margin-left: -100;
    margin-top: 32px;
  }

  #LADO-DIREITO-SOBRE {
    scale: 0.6;
    margin-top: -10px;
    margin-left: -18px;
  }
}
